.draggable_bar {
  cursor: move;
}

.draggable_window {
    position: absolute;
}

.files {
    width: 200px;
    top: 0;
    bottom: 0;
    padding: 8px;
    display: flex;
    align-items: stretch;
    z-index: 10000;
    background-color: #c4c485;
}
  