.page-container {
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;
}

a:hover {
  opacity: 0.75;
}

#about {
  width: 50%;
  z-index: 10;
}

#intuitIntern, #intuitCoop {
  width: 50%;
  max-width: 400px;
  z-index: 12;
}

#sandbox {
  z-index: 11;
}

.draggable-bar {
  cursor: move;
}
  
.draggable-window {
  position: absolute;
  touch-action: none;
  user-select: none;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -ms-touch-action: none;
}

#files {
  width: 200px;
  top: 0;
  padding: 8px;
  display: flex;
  align-items: stretch;
  z-index: 10000;
  background-color: #c4c485;
  height: 100%;
}

#files-container {
  z-index: 10000;
  display: flex;
  height: calc(100% - 16px);
  transition: 0.5s;
}

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0; 
  cursor: url("assets/mouse_default.png"), default;
}

.pointer-cursor {
  cursor: url('assets/mouse_pointer.png'), pointer;
}

button {
  cursor: url("assets/mouse_default.png"), default;
  colorr: black;
}

.icon-link {
  opacity: 0.7;
}

.icon-link:hover {
  opacity: 1;
}

.window-title {
  touch-action: manipulation;
}

.window-body {
  font-size: 14px;
}

.window-horizontal-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quotebot-image {
  width: 50%;
}

.horizontal-window {
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-panel {
  width: 100%;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

#screen {
  background-image: url('assets/bliss.jpg');
  background-size: cover;
  flex: 1;
  max-width: 100vw;
}

#folders {
  position: absolute;
  text-align: center;
  touch-action: manipulation;
}

.folder {
    width: 75px;
}

label {
  font-size: 16px;
}

#drawer-arrow {
  z-index: 10000;
  height: 100%;
  opacity: 0.40;
  display: none;
}

#image-arrow {
  margin-top: calc(40vh);
}

#quotebot {
  width: 50%;
  z-index: 10;;
}

#quotebot-image {
  width: 35%;
}

.intuit-body {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chess-body {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.horizontal-image {
  width: 80%;
}

@media screen and (max-width:1000px) {
  #about-image {
    width: 60%;
  }

  .horizontal-window {
    flex-wrap: wrap;
  }

  #quotebot-image {
    width: 30%;
  }
}

@media screen and (max-width:500px) and (orientation:portrait) {
  #files-container {
    position: absolute;
    left: -116px;
  }

  #files {
    width: 100px;
  }

  #left-panel {
    font-size: 10px;
  }

  #folders-container {
    margin-left: 8px;
  }

  .folder {
    width: 37.5px;
    margin-right: 8px;
  }

  label {
    font-size: 10px;
  }

  .window-body {
    font-size: 8px;
  }

  .title-bar-text {
    font-size: 8px;
  }

  .custom-button {
    font-size: 8px;
    min-width: 56px; 
    min-height: 17px;
  } 

  #drawer-arrow {
    display: initial;
  }

  .horizontal-image {
    width: 50%;
  }

  .chess-body {
    max-width: 300px;
  }
}
